{% extends 'base.html.twig' %}

{% block title %}
	Marsouin_Cuisine
{% endblock %}

{% block body %}
	<div class="container">
		{% if recette == null %}
			<h1 class="text-center mt-5 mb-5">Impossible de trouver cette recette.
				<a href="/" class="badge text-bg-primary">Retourner à l'accueil</a>
			</h1>
		{% else %}
			<h1 class="text-center mt-5 mb-5">{{ recette.label }}</h1>
			<hr>
			<div class="row">
				<div class="accordion col-4 w-75" id="etapes">
					{% for etape in recette.etapes %}
						<div class="accordion-item">
							<h2 class="accordion-header" id="heading{{ loop.index }}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
									Etape
									{{ loop.index }}
								</button>
							</h2>
							<div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#etapes">
								<div class="accordion-body">
									<div class="row">
										{% if etape.ingredients is not empty %}
											<div class="col-4 w-75">
											{% else %}
												<div class="col">
												{% endif %}
												{{ etape.description }}
											</div>
											{% if etape.ingredients is not empty %}
												<div class="col">
													<h3 class="align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">Ingrédients</h3>
													<ul class="list-group list-group-flush">
														{% for quantite in etape.ingredients %}
															<li class="list-group-item d-flex justify-content-between align-items-center">
																{{ quantite.ingredient.label }}
																<span class="badge bg-primary rounded-pill">
																	{{ quantite.valeur}}
																	{% if quantite.unite is defined and quantite.unite is not null %}
																		{{ quantite.unite.symbole }}
																	{% endif %}
																</span>
															</li>
														{% endfor %}
													</ul>
												</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="col">
						<h3 class="pb-3 mb-3 text-decoration-none border-bottom">Ingrédients</h3>
						<ul class="list-group list-group-flush">
							{% for etape in recette.etapes %}
								{% for quantite in etape.ingredients %}
									<li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-light">
										{{ quantite.ingredient.label }}
										<span class="badge bg-primary rounded-pill">
											{{ quantite.valeur}}
											{% if quantite.unite is defined and quantite.unite is not null %}
												{{ quantite.unite.symbole }}
											{% endif %}
										</span>
									</li>
								{% endfor %}
							{% endfor %}
						</ul>
						{% if recette.video is defined %}
							<h3 class="pb-3 mb-3 text-decoration-none border-bottom">Vidéo de la recette</h3>
							<div class="embed-responsive embed-responsive-16by9">
								<iframe src="{{ recette.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>
	{% endblock %}
